@model List<ArticleResponseModel>


<a class="btn btn-primary" asp-action="CreateArticle" asp-controller="Home" > Add New Article</a>

<table class ="table table-striped mt-2">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Author</th>
        <th>Publisher</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var article in Model)
    {
        <tr>
            <td>@article.Id</td>
            <td>@article.Name</td>
            <td>@article.Price</td>
            <td>@article.Author</td>
            <td>@article.Publisher</td>
            <td>
                <a class="btn btn-warning" asp-action="UpdateArticle" asp-controller="Home" asp-route-id="@article.Id">Update</a>
                <a class="btn btn-danger" asp-action="RemoveArticle" asp-controller="Home" asp-route-id="@article.Id">Delete</a>
            </td>
        </tr>
    }
</table>
